
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.testfin-r6Y {
  width: 100%;
  min-width: 35rem;
  min-height: 60rem;
  height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(11, 191, 247, 0.1000000015);
}
.testfin-r6Y .header-bK2 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.testfin-r6Y .header-bK2 .auto-group-1dzt-A7E {
  box-sizing: border-box;
  padding: 2.1rem 2rem 2rem 2rem;
  width: 100%;
  height: 10.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(11, 190, 247, 0.5);
  flex-shrink: 0;
}
.testfin-r6Y .header-bK2 .auto-group-1dzt-A7E .psyscreen-HSk {
  margin: 0rem 1rem 0.4rem 0rem;
  cursor: pointer;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.175;
  color: #e7f9ff;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testfin-r6Y .header-bK2 .auto-group-1dzt-A7E .auto-group-po8g-Pkg {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.testfin-r6Y .header-bK2 .auto-group-1dzt-A7E .auto-group-po8g-Pkg .brightness-MSc {
  margin-bottom: 0.1rem;
  width: 7.5rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testfin-r6Y .header-bK2 .auto-group-1dzt-A7E .auto-group-po8g-Pkg .language-thS {
  width: 7.5rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testfin-r6Y .header-bK2 .rectangle-3-pLC {
  width: 100%;
  height: 4rem;
  background: linear-gradient(180deg, rgba(11, 191, 247, 0.5) -0%, rgba(231, 249, 255, 0) 100%);
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 {
  box-sizing: border-box;
  padding: 0rem 2rem 8.9rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 .progress-bar-51E {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 4.4rem;
  position: relative;
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 .progress-bar-51E .hotovo-100-cmr {
  width: 16.7rem;
  height: 3rem;
  position: absolute;
  left: calc(50% - 8.35rem);
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #7adcfc;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.testfin-r6Y .auto-group-9892-ji4 .progress-bar-51E .rectangle-5-X88 {
  width: 100%;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  border: solid 0.1rem #7adcfc;
  box-sizing: border-box;
  background-color: #7adcfc;
  border-radius: 9rem;
}
.testfin-r6Y .auto-group-9892-ji4 .posledn-krok-predtm-ako-vm-ukeme-v-vsledok-dvate-nm-v-shlas-poui-vae-odpovede-pre-podporenie-nho-vskumu-cvG {
  margin: 0rem 0.3rem 5.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 .posledn-krok-predtm-ako-vm-ukeme-v-vsledok-dvate-nm-v-shlas-poui-vae-odpovede-pre-podporenie-nho-vskumu-cvG .posledn-krok-predtm-ako-vm-ukeme-v-vsledok-dvate-nm-v-shlas-poui-vae-odpovede-pre-podporenie-nho-vskumu-cvG-sub-0 {
}
.testfin-r6Y .auto-group-9892-ji4 .posledn-krok-predtm-ako-vm-ukeme-v-vsledok-dvate-nm-v-shlas-poui-vae-odpovede-pre-podporenie-nho-vskumu-cvG .posledn-krok-predtm-ako-vm-ukeme-v-vsledok-dvate-nm-v-shlas-poui-vae-odpovede-pre-podporenie-nho-vskumu-cvG-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.testfin-r6Y .auto-group-9892-ji4 .press-button-dD6 {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 1.1rem 2.4rem 0.9rem 1.6rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(247, 128, 10, 0.8000000119);
  border-radius: 2rem;
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 .press-button-dD6 .shlasm-Yax {
  margin-right: 14.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #e7f9ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 .press-button-dD6 .arrow-right-1-st8 {
  margin-bottom: 0.1rem;
  width: 2.8002rem;
  height: 1.6315rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 .press-button-PLg {
  box-sizing: border-box;
  padding: 1.1rem 2.4rem 0.9rem 1.6rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.3rem rgba(247, 128, 10, 0.8000000119);
  border-radius: 2rem;
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 .press-button-PLg .neshlasm-vLc {
  margin-right: 11.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(247, 128, 10, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testfin-r6Y .auto-group-9892-ji4 .press-button-PLg .arrow-right-1-3w2 {
  margin-bottom: 0.1rem;
  width: 2.8002rem;
  height: 1.6315rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
