
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.test1-9b2 {
  width: 100%;
  min-width: 35rem;
  min-height: 85rem;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(11, 191, 247, 0.1000000015);
}
.test1-9b2 .header-JTv {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.test1-9b2 .header-JTv .auto-group-1xfv-4hz {
  box-sizing: border-box;
  padding: 2.1rem 2rem 2rem 2rem;
  width: 100%;
  height: 10.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(11, 190, 247, 0.5);
  flex-shrink: 0;
}
.test1-9b2 .header-JTv .auto-group-1xfv-4hz .psyscreen-ypx {
  margin: 0rem 1rem 0.4rem 0rem;
  cursor: pointer;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.175;
  color: #e7f9ff;
  font-family: Maven Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.test1-9b2 .header-JTv .auto-group-1xfv-4hz .auto-group-xuba-rdr {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.test1-9b2 .header-JTv .auto-group-1xfv-4hz .auto-group-xuba-rdr .brightness-p4t {
  margin-bottom: 0.1rem;
  width: 7.5rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.test1-9b2 .header-JTv .auto-group-1xfv-4hz .auto-group-xuba-rdr .language-9N4 {
  width: 7.5rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.test1-9b2 .header-JTv .rectangle-3-U9S {
  width: 100%;
  height: 4rem;
  background: linear-gradient(180deg, rgba(11, 191, 247, 0.5) -0%, rgba(231, 249, 255, 0) 100%);
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ {
  box-sizing: border-box;
  padding: 0rem 2rem 6rem 2rem;
  width: 100%;
  row-gap: 1.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .progress-bar-uEk {
  width: 100%;
  height: 4.4rem;
  position: relative;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .progress-bar-uEk .done-0-rfn {
  width: 11.9rem;
  height: 3rem;
  position: absolute;
  left: calc(50% - 5.95rem);
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #7adcfc;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.test1-9b2 .auto-group-ke5a-PGQ .progress-bar-uEk .rectangle-5-N8L {
  width: 100%;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  border: solid 0.1rem #7adcfc;
  box-sizing: border-box;
  border-radius: 9rem;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .question-1-do-you-feel-tired-and-or-exhausted-as-of-late-RMW {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .question-1-do-you-feel-tired-and-or-exhausted-as-of-late-RMW .question-1-do-you-feel-tired-and-or-exhausted-as-of-late-RMW-sub-0 {
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .question-1-do-you-feel-tired-and-or-exhausted-as-of-late-RMW .question-1-do-you-feel-tired-and-or-exhausted-as-of-late-RMW-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .answer-row-xEx {
  width: 100%;
  height: 7rem;
  display: flex;
  column-gap: 1.3333rem;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .answer-row-xEx .answer-button-VVn {
  box-sizing: border-box;
  padding: 1.68rem 0.703rem 1.42rem 0.797rem;
  width: 7rem;
  height: 100%;
  cursor: pointer;
  border: solid 0.1rem #f4983b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .answer-row-xEx .answer-button-VVn .totally-untrue-Qse {
  max-width: 5.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #f4983b;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .answer-row-xEx .answer-button-vb6 {
  width: 7rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(244, 152, 59, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(244, 152, 59, 0.6999999881);
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .answer-row-xEx .answer-button-zqr {
  width: 7rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(122, 220, 252, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(122, 220, 252, 0.6999999881);
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .answer-row-xEx .answer-button-gCt {
  box-sizing: border-box;
  padding: 1.68rem 0.703rem 1.42rem 0.797rem;
  width: 7rem;
  height: 100%;
  cursor: pointer;
  border: solid 0.1rem #7adcfc;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-1-gPv .answer-row-xEx .answer-button-gCt .totally-true-Q8t {
  max-width: 5.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #7adcfc;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .question-2-have-you-felt-strong-feelings-of-sadness-lately-s2U {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .question-2-have-you-felt-strong-feelings-of-sadness-lately-s2U .question-2-have-you-felt-strong-feelings-of-sadness-lately-s2U-sub-0 {
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .question-2-have-you-felt-strong-feelings-of-sadness-lately-s2U .question-2-have-you-felt-strong-feelings-of-sadness-lately-s2U-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .answer-row-Szg {
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  column-gap: 1.3333rem;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .answer-row-Szg .answer-button-zWQ {
  box-sizing: border-box;
  padding: 1.68rem 0.703rem 1.42rem 0.797rem;
  width: 7rem;
  height: 100%;
  border: solid 0.1rem #f4983b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .answer-row-Szg .answer-button-zWQ .totally-untrue-ihJ {
  max-width: 5.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #f4983b;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .answer-row-Szg .answer-button-cng {
  width: 7rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(244, 152, 59, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(244, 152, 59, 0.6999999881);
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .answer-row-Szg .answer-button-tEQ {
  width: 7rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(122, 220, 252, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(122, 220, 252, 0.6999999881);
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .answer-row-Szg .answer-button-a7E {
  box-sizing: border-box;
  padding: 1.68rem 0.703rem 1.42rem 0.797rem;
  width: 7rem;
  height: 100%;
  border: solid 0.1rem #7adcfc;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-2-Whi .answer-row-Szg .answer-button-a7E .totally-true-WWg {
  max-width: 5.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #7adcfc;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A {
  margin-right: 0rem;
  width: calc(100% - 0rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .question-3-have-you-felt-strong-anxiety-in-the-past-two-weeks-aWY {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .question-3-have-you-felt-strong-anxiety-in-the-past-two-weeks-aWY .question-3-have-you-felt-strong-anxiety-in-the-past-two-weeks-aWY-sub-0 {
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .question-3-have-you-felt-strong-anxiety-in-the-past-two-weeks-aWY .question-3-have-you-felt-strong-anxiety-in-the-past-two-weeks-aWY-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .answer-row-xX6 {
  width: 100%;
  height: 7rem;
  cursor: pointer;
  display: flex;
  column-gap: 1.3333rem;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .answer-row-xX6 .answer-button-W2p {
  box-sizing: border-box;
  padding: 1.68rem 0.703rem 1.42rem 0.797rem;
  width: 7rem;
  height: 100%;
  border: solid 0.1rem #f4983b;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .answer-row-xX6 .answer-button-W2p .totally-untrue-qat {
  max-width: 5.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #f4983b;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .answer-row-xX6 .answer-button-kxk {
  width: 7rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(244, 152, 59, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(244, 152, 59, 0.6999999881);
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .answer-row-xX6 .answer-button-T6U {
  width: 7rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(122, 220, 252, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem rgba(122, 220, 252, 0.6999999881);
  box-sizing: border-box;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .answer-row-xX6 .answer-button-wXS {
  box-sizing: border-box;
  padding: 1.68rem 0.703rem 1.42rem 0.797rem;
  width: 7rem;
  height: 100%;
  border: solid 0.1rem #7adcfc;
  border-radius: 1rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .item-3-q3A .answer-row-xX6 .answer-button-wXS .totally-true-sR6 {
  max-width: 5.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #7adcfc;
  font-family: Inter, 'Source Sans Pro';
}
.test1-9b2 .auto-group-ke5a-PGQ .press-button-nY4 {
  box-sizing: border-box;
  padding: 1.1rem 2.4rem 0.9rem 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9a9a9a;
  border-radius: 2rem;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .press-button-nY4 .next-page-868 {
  margin-right: 13.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #e7f9ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.test1-9b2 .auto-group-ke5a-PGQ .press-button-nY4 .arrow-right-1-fbr {
  margin-bottom: 0.1rem;
  width: 2.8002rem;
  height: 1.6315rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
